---
layout: default
title: Joel Gillman
---

<div class="row">

  <div class="col-sm-12">
    <h1>Posts by date</h1>
    <ul class="list-unstyled">
      {% for post in site.posts %}
      {% if post.layout == 'post' %}
        <li>
          <time datetime="{{post.date | date: "%Y-%m-%d"}}">
            <em>{{ post.date | date_to_string }}</em>
          </time>
          &raquo;
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>

