---
layout: default
title: Joel Gillman
---

<div class="row">

  <div class="col-sm-12">
    <div class="page-header">
      <h1>Selected work by date</h1>
    </div>
    <div class="row">
    {% for post in site.posts %}
    {% if post.layout == 'project' %}
      <div class="work-tile col-sm-6 col-md-4">
        <div class="row">

          <a href="{{ post.url }}" class="col-xs-4 text-right">
            {% image thumb {{post.path|filename}}/thumb.png %}
          </a>
          <div class="work-tile__content col-xs-8">
            <h4>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </h4>
            <small>for {{ post.company }}</small>
            <p class="text-muted">{{ post.tags | join: ', ' }}</p>
          </div>

        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>
  </div>

</div>

